*{
    margin: 0;
}

/*

Segunda opção de centralização vertical

html{
    height: 100%;
    
}

body{
    background-color: rgb(150, 150, 150);
    font-family: "Signika", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/imgs/background.jpg);
    background-size: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: rgb(65, 86, 104);
}
*/


body{
    background-color: rgb(150, 150, 150);
    font-family: "Signika", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/imgs/background.jpg);
    background-size: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: rgb(65, 86, 104);
}

/*  Style for main-container div  */

.main-container{
    margin: 5% 10% 5% 10%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(5px);
}

.main-container h1{
    text-align: center;
    color: rgb(241, 241, 241);
    margin-bottom: 20px;
}

.main-container ul{
    list-style: none;
}

/*  Style for contact-container div  */

.contact-container{
    list-style-type: none;
    list-style: none;
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin: 0;
    flex-wrap: wrap;
}

/*  Style for contacts div  */

.contacts{
    width: 31%;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid #eeeeee93;
    margin: 0.99%;
    background-color: rgba(240, 248, 255, 0.349);
}

@media (max-width: 1390.91px) {
    .contacts {
        margin: 0.5%;
    }
}

@media (max-width: 1380px) {
    .contact-container {
        
    }
}


/*  Style for contact-5star-img and contact-4star-img div  */

.contact-5star-img{
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 0;
}

.contact-5star-img .character-img{
    border: 3px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 9%;
    margin-top: 9%;
    height: auto;
    background: linear-gradient(140deg, #c67c28 16%, #755530 92%);
    border-radius: 50%;
}

.contact-5star-img .characters-bgm-img{
    display: flex;
    width: 100%;
    height: 100%;
}

.contact-4star-img{
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 0;
}

.contact-4star-img .character-img{
    border: 3px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 9%;
    margin-top: 9%;
    height: auto;
    background: linear-gradient(140deg, #7049a2 16%, #2f2457 92%);
    border-radius: 50%;
}

.contact-4star-img .characters-bgm-img{
    display: flex;
    width: 100%;
    height: 100%;
}

/*  Style for contact-info div  */

.contact-info{
    padding-top: 18%;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.contact-info h2{
    font-size: 180%;
    padding-bottom: 15px;
}

.contact-info p{
    font-size: 120%;
    color: #222222;
    padding-bottom: 10px;
}

@media (max-width: 1600px) {
    .contact-info p {
        font-size: 100%;
    }
}

/*  Style for contact-icons div  */

.contact-icons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 6px;
}

.contact-icons a{
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}


.contact-icons span{
    padding: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

